body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    margin: 0px;
}

.active{
    color:black;
    background-color: orange;
    border-left:2px solid white;
    //border-bottom: 2px solid black;
    
}

.padding{
    padding: 12px 12px 9px 10px;
}
.padding-2{
    padding: 12px 12px 8.5px 4px;
}

.text{
    text-decoration: none;
    padding-bottom: 10px;
}
.header{
    color: white;   
    background-color: #3399CC;
    margin: 0px;
    font-weight: lighter;
    font-size: 58px;
    padding: 18px 0px 28px 23px; 
}

.nav-bar{
    display: flex;
    background-color:#333333;
    height: 40px; 
    margin: 0px;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
   // border:2px solid red;
}

.nav-tabs{
    margin: 0px;
    display: flex;
    background-color:#333333;
    //border:2px solid red;
}
a{
    color: white;
}
.nav-item{
    color: white; 
    margin:0px 0px 0px 0px;
    padding: 9px 12px 16px 7px;
    font-weight: bolder;    
   // border:2px solid red;
    background-color:#333333;
}

.nav-icon{
    margin-right: 11px;
    padding: 7px;
}

.body{
    display: flex; 
    padding-top: 4px; 
    margin-top: 3px; 
    margin-left: 6px;
}


.active-add{
   color:black;
    background-color: orange;
    border-left:2px solid white;  
    //margin-top: 2px; 
    padding: 12px;
    padding-bottom: 24px;
}