body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    margin: 0px;
}

.header{
    color: white;   
    background-color: #3399CC;
    margin: 0px;
    font-weight: lighter;
    font-size: 58px;
    padding: 18px 0px 28px 23px; 
}

.nav-bar{
    display: flex;
    background-color:#333333;
    height: 40px; 
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}

.nav-tabs{
    display: flex;
}
a{
    color: white;
}
.nav-item{
    color: white; 
    margin-left:10px;
    padding: 9px 16px 12px;
    font-weight: bolder;
}



.nav-item:hover{
    background-color:orange;
    border-left: 3px solid white;
    color: black; 
}

.nav-icon{
    margin-right: 11px;
    padding: 7px;
}

.body{
    display: flex; 
    padding-top: 4px; 
    margin-top: 3px; 
    margin-left: 6px;
}

.list-group-header{
    color: black; 
    font-weight: bolder;
    padding-top: 14px;
    padding-bottom: 12px;
    margin:0px 0px 0px 20px;
}

.list-group{
    padding: 12px 0px 9px 14px;
    margin-top:0px;
    line-height: 1.5em;
    width: 279px;
    display: block;
    margin-bottom: 0px;
    margin-left: 20px;
    color: rgb(75, 74, 74);
    font-size:18px;
}

.border{
    border: 1px solid #CCCCCC;
}

.border-start{
    border-left: 1px solid #CCCCCC;
}

.border-end{
    border-right:1px solid #CCCCCC;
}

.list-group:hover
{
    background-color: #cfe7f3;
}

.list-group-items{
    padding: 0.5px;
    margin-left: 6px;
    list-style: none;
    color: black;
}

.c{
    margin-top:1px;
}
.container{
    padding-top: 14px;
    margin: 5px 317px 0px 74px;
}

.div-title{
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}

.div-sub-title{
    display: flex;
    margin-top: 5px;
    margin-bottom: 11px;
}

.div-text{
    margin-bottom: 2px;
    margin-left: 5px;
}

.ms-3{
    margin-left: 5px;
}

.d-flex{
    display: flex;
    margin-top: 45px;
}

.icon{
    padding-top: 3px;
    margin-right: 1px;
}

.icon-text{
    margin-left: 6px;
    margin-top: 2px;
    margin-right: 6px;
}
