
<div class="body">

    <div class="container">
        
        <h2 class="div-title">Network Duke</h2>

        <div class="div-sub-title">
            <div>Email: </div>
            <div class="ms-3">duke@fosterate.com</div>
        </div>
        
        <div class="div-sub-title">
            <div>Mobile:</div>
            <div class="ms-3">7777888855</div>
        </div>
        
        <div class="div-sub-title">
           Landline:
        </div>
        
        <div class="div-sub-title">
            Website:
        </div>
        
        <div class="div-sub-title">
            <div>Address:</div>
            <div>
                <div class="div-text">hyderabad,</div>
                <div class="div-text">Telangana,</div>
                <div class="div-text">500061</div>
            </div>
        </div> 
    </div>
    <div class="d-flex">
        <img class="icon" src="../assets/images/Edit-icon.png" width="16px" height="18px" alt="">
        <div class="icon-text">EDIT</div>
        <img class="icon" src="../assets/images/delete1.png" width="13px" height="23px" alt="">
        <div class="icon-text">DELETE</div>
    </div>

</div>
